################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################


/packages/
/.vs/Spreetail.Budgeter
/Spreetail.Budgeter.Service/obj/Debug
/Spreetail.Budgeter.Service/bin/Debug
/Spreetail.Budgeter.Models/obj/Debug
/Spreetail.Budgeter.Models/bin/Debug
/Spreetail.Budgeter/obj/Debug
/Spreetail.Budgeter/bin/Debug
/Spreetail.Budgeter.Data/obj/Debug
/Spreetail.Budgeter.Data/bin/Debug
/Spreetail.Budgeter/bin
