################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Spreetail.Budgeter.Service/bin/Debug/EntityFramework.xml
